.container {
  display: grid;
  width: 100%;
  height: 100%;
  grid-template-areas: "header header"
  "left main"
  "footer footer";
  grid-template-columns: 120px 4fr;
  grid-template-rows: 160px 1fr 80px;
}
.container > div {

}
.header {
  grid-area: header;
}
.left {
  grid-area: left;
  background-color: aqua;
  padding: 20px;
}
.main {
  grid-area: main;
  padding-left: 20px;
}
.footer {
  grid-area: footer;
}
