<div class="container">
  <div class="header">
    <app-main-navbar (cartClicked)="toggleCart()"></app-main-navbar>
  </div>
  <div class="right" [class.open]="isCartOpen">
    <app-cart (closeCart)="toggleCart()"></app-cart>
  </div>
  <div class="left" *ngIf="isLeftVisible">
    <app-side-nav (categorySelected)="onCategorySelected($event)"></app-side-nav>
  </div>
  <div class="main">
    <app-main-content></app-main-content>
  </div>
  <div class="footer">
    <app-footer></app-footer>
  </div>
</div>
