<section class="ezy__eporder3 light bg-white dark:bg-[#0b1727] text-zinc-900 dark:text-white relative overflow-hidden">
  <div class="container">
    <div class="row justify-content-center">
      <!-- progress bar -->
      <div class="col-span-12">
        <div class="flex items-center justify-between relative mb-12">
          <div class="absolute top-5 right-0 left-0 border-t-2 border-dashed dark:border-slate-700"></div>
          <span
            class="relative w-10 h-10 bg-gray-100 dark:bg-slate-700 shadow border dark:border-slate-600 flex justify-center items-center text-lg z-20 cursor-pointer rounded-full">1</span>
          <span
            class="relative w-10 h-10 bg-blue-600 text-white shadow border border-blue-600 flex justify-center items-center text-lg z-20 cursor-pointer rounded-full">2</span>
          <span
            class="relative w-10 h-10 bg-gray-100 dark:bg-slate-700 shadow border dark:border-slate-600 flex justify-center items-center text-lg z-20 cursor-pointer rounded-full">3</span>
        </div>
      </div>

      <div class="col-span-12">
        <div class="bg-gray-100  grid grid-cols-12 lg:p-5 mt-12">
          <!-- form -->
          <div class="col-span-12 lg:col-span-5">
            <form [formGroup]="billingForm" (ngSubmit)="onSubmit()">
              <h4 class="font-medium text-2xl text-black">Your Order</h4>
              <div class="flex flex-col gap-2 mt-2">
                <label for="name" class="font-medium text-black">Full Name <span class="text-blue-600">*</span></label>
                <input type="text" formControlName="name"
                  class="h-14 p-4 bg-blue-100 text-black bg-opacity-5 focus:outline-none focus:border focus:border-blue-600 rounded-md"
                  id="name" placeholder="Jon Doe" />
                <div *ngIf="billingForm.get('name')?.invalid && billingForm.get('name')?.touched" class="text-red-500">Name is required</div>
              </div>
              <div class="flex flex-col gap-2 mt-2">
                <label for="email" class="font-medium text-black">Email <span class="text-blue-600">*</span></label>
                <input type="email" formControlName="email"
                  class="h-14 p-4 bg-blue-100 text-black bg-opacity-5 focus:outline-none focus:border focus:border-blue-600 rounded-md"
                  id="email" placeholder="example@gmail.com" />
                <div *ngIf="billingForm.get('email')?.invalid && billingForm.get('email')?.touched" class="text-red-500">Valid email is required</div>
              </div>
              <div class="flex flex-col gap-2 mt-2">
                <label for="country" class="font-medium text-black">Country</label>
                <input type="text" formControlName="country"
                  class="h-14 p-4 bg-blue-100 text-black bg-opacity-5 focus:outline-none focus:border focus:border-blue-600 rounded-md"
                  id="country" placeholder="Bangladesh" />
              </div>
              <div class="flex flex-col gap-2 mt-2">
                <label for="address" class="font-medium text-black">Street Address</label>
                <input type="text" formControlName="address"
                  class="h-14 p-4 bg-blue-100 text-black bg-opacity-5 focus:outline-none focus:border focus:border-blue-600 rounded-md"
                  id="address" placeholder="11 Zia Uddin Road" />
              </div>
              <div class="flex flex-col gap-2 mt-2">
                <label for="post" class="font-medium text-black">Post Code <span class="text-blue-600">*</span></label>
                <input type="number" formControlName="post"
                  class="h-14 p-4 bg-blue-100 text-black bg-opacity-5  focus:outline-none focus:border focus:border-blue-600 rounded-md"
                  id="post" placeholder="****" />
              </div>
              <div class="flex flex-col gap-2 mt-2">
                <label for="phone" class="font-medium text-black">Phone <span class="text-blue-600">*</span></label>
                <input type="number" formControlName="phone"
                  class="h-14 p-4 bg-blue-100 text-black bg-opacity-5  focus:outline-none focus:border focus:border-blue-600 rounded-md"
                  id="phone" placeholder="+88016******78" />
                <div *ngIf="billingForm.get('phone')?.invalid && billingForm.get('phone')?.touched" class="text-red-500">Phone number is required</div>
              </div>
            </form>
          </div>

          <!-- payment -->
          <div class="col-span-12 lg:col-start-7 lg:col-span-6">
            <div class="bg-white dark:bg-[#0b1727] p-6 lg:p-12 rounded-md">
              <div class="">
                <h4 class="text-2xl font-medium mb-12 text-black">Your Order</h4>
                <div class="grid grid-cols-3 gap-6">
                  <div class="col-span-2">
                    <h6 class="font-medium text-black">Product</h6>
                  </div>

                  <hr class="col-span-3 my-0 dark:border-slate-700" />

                  <div *ngFor="let item of items" class="col-span-2">
                    <h6 class="font-medium text-black">{{ item.product.title }}</h6>
                  </div>

                  <hr class="col-span-3 my-0 dark:border-slate-700" />

                  <div class="col-span-2">
                    <h6 class="font-medium text-black">Total</h6>
                  </div>
                  <div class="col-span-1">
                    <h6 class="font-medium text-black">LKR {{ total }}</h6>
                  </div>
                </div>
              </div>
              <div class="bg-gray-100 p-4 lg:p-6 mt-12">
                <form [formGroup]="paymentForm" (ngSubmit)="onSubmit()">
                  <h6 class="font-medium text-black">Cash on Delivery</h6>
                  <div class="flex items-center my-4">
                    <input class="h-4 w-4 mr-3" type="radio" name="payment" (click)="selectPaymentMethod('cod')" [checked]="selectedPaymentMethod === 'cod'" />
                    <img src="" alt="" class="max-w-full h-auto" />
                  </div>
                  <h6 class="font-medium text-black">Debit or Credit Card</h6>
                  <div class="flex items-center my-4">
                    <input class="h-4 w-4 mr-3" type="radio" name="payment" (click)="selectPaymentMethod('card')" [checked]="selectedPaymentMethod === 'card'" />
                    <img src="https://cdn.easyfrontend.com/pictures/Debit%20or%20Credit.png" alt="" class="max-w-full h-auto" />
                  </div>
                  <div *ngIf="selectedPaymentMethod === 'card'" class="flex flex-col gap-2 mt-2">
                    <label for="cardNumber" class="font-medium text-black">Card Number <span class="text-blue-600">*</span></label>
                    <input type="text" formControlName="cardNumber" class="h-14 p-4 bg-blue-100 text-black bg-opacity-5 focus:outline-none focus:border focus:border-blue-600 rounded-md" id="cardNumber" placeholder="1234 5678 9012 3456" />
                    <div *ngIf="paymentForm.get('cardNumber')?.invalid && paymentForm.get('cardNumber')?.touched" class="text-red-500">Card number is required</div>
                  </div>

                  <div class="my-8">
                    <input class="form-check-input" type="checkbox" formControlName="terms" />
                    <label class="font-medium text-black">
                      I have read and agree to the website terms and
                      conditions *
                    </label>
                    <div *ngIf="paymentForm.get('terms')?.invalid && paymentForm.get('terms')?.touched" class="text-red-500">You must agree to the terms and conditions</div>
                  </div>
                  <button (click)="onSubmit()" [disabled]="billingForm.invalid || (selectedPaymentMethod === 'card' && paymentForm.invalid)"
                    class="text-white bg-blue-600 hover:bg-opacity-90 p-4 px-9 flex justify-center items-center leading-none h-full rounded-md w-full">
                    Pay
                  </button>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
