<section
  class="ezy__eporder4 light bg-white dark:bg-[#0b1727] text-zinc-900 dark:text-white relative overflow-hidden"
>
  <div class="container">
    <div class="grid grid-cols-12">
      <!-- progress bar -->
      <div class="col-span-12">
        <div class="flex items-center justify-between relative mb-12">
          <div
            class="absolute top-5 right-0 left-0 border-t-2 border-dashed border-blue-600"
          ></div>
          <span
            class="relative w-10 h-10 bg-gray-100 dark:bg-slate-700 text-white shadow border  flex justify-center items-center text-lg z-20 cursor-pointer rounded-full"
            >1</span
          >
          <span
            class="relative w-10 h-10 bg-gray-100 dark:bg-slate-700 text-white shadow border  flex justify-center items-center text-lg z-20 cursor-pointer rounded-full"
            >2</span
          >
          <span
            class="relative w-10 h-10 bg-blue-600 text-white shadow border border-blue-600 flex justify-center items-center text-lg z-20 cursor-pointer rounded-full"
            >3</span
          >
        </div>
      </div>

      <div class="col-span-12">
        <div
          class="bg-gray-100  text-center flex flex-col justify-center items-center mt-12 px-6 md:px-10 py-10 md:py-16 rounded-md"
        >
          <div
            class="text-blue-600 text-2xl border border-blue-600 inline-flex justify-center items-center p-4 rounded-full"
          >
            <i class="fas fa-check"></i>
          </div>
          <h1
            class="text-3xl md:text-[44px] leading-tight font-medium mt-4 mb-2 text-black"
          >
            Your Order is Successful
          </h1>
          <p class="text-black">
            In purus donec ac in nulla lobortis. Lectus massa erat odio
            turpis nulla sed.
          </p>
          <button
            class="text-white bg-blue-600 hover:bg-opacity-90 p-4 px-9 flex justify-center items-center leading-none h-full rounded-md mt-12"
          >
            Back To Home
          </button>
        </div>
      </div>
    </div>
  </div>
</section>
