
  <div class="container px-4">
    <div class="grid grid-cols-12 h-full">
      <div class="col-span-12 lg:col-span-6 lg:col-start-7 order-2">
        <div
          class="hidden lg:block h-140 w-full lg:w-[50vw] bg-cover bg-center bg-no-repeat float-left mt-12"
          style="background-image: url(https://cdn.easyfrontend.com/pictures/sign-in-up/sign3.jpg)"
        ></div>
      </div>
      <div class="col-span-12 lg:col-span-5 py-12">
        <div class="flex items-center justify-center h-full">
          <div class="w-full">
            <div class="bg-blue-100 bg-opacity-70 shadow-xl rounded-2xl p-4 md:p-12">
              <h2 class="text-black text-3xl font-bold mb-3">Welcome to Easy Frontend</h2>
              <div class="flex items-center mb-6 md:mb-12">
                <p class="mb-0 mr-2 opacity-50 text-black ">Don't have an account?</p>
                <a href="#" class="text-black ">Create Account</a>
              </div>

              <form>
                <div class="mb-4">
                  <label class="block mb-2 font-normal" for="email">Email Address</label>
                  <input
                    type="text"
                    class="w-full bg-blue-50 min-h-[48px] leading-10 px-4 p-2 rounded-lg outline-none border border-transparent focus:border-blue-600"
                    id="email"
                    placeholder="Enter Email Address"
                  />
                </div>
                <div class="mb-4">
                  <label class="block mb-2 font-normal" for="password">Password</label>
                  <input
                    type="password"
                    class="w-full bg-blue-50 min-h-[48px] leading-10 px-4 p-2 rounded-lg outline-none border border-transparent focus:border-blue-600"
                    id="password"
                    placeholder="Enter Password"
                  />
                </div>
                <div class="mb-4">
                  <input type="checkbox" class="mr-2" id="remember-me" checked />
                  <label class="font-normal" for="remember-me">Remember me</label>
                </div>
                <button class="bg-indigo-900 text-white py-3 px-6 rounded w-full font-bold">
                  Log In <i class="fas fa-arrow-right ml-2"></i>
                </button>
                <button class="hover:text-blue-600 font-medium py-2 px-4 rounded-lg w-full">
                  Forget your password?
                </button>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
