<section class="ezy__signin4 light flex bg-white dark:bg-[#0b1727] text-zinc-900 dark:text-white overflow-hidden">
  <div class="container px-4 mx-auto min-h-screen">
    <div class="grid grid-cols-12 h-full">
      <div class="col-span-12 lg:col-span-6 lg:col-start-7 order-2">
        <div
          class="hidden lg:block h-full w-full lg:w-[50vw] bg-cover bg-center bg-no-repeat float-left"
          style="background-image: url(https://cdn.easyfrontend.com/pictures/sign-in-up/sign3.jpg)"
        ></div>
      </div>
      <div class="col-span-12 lg:col-span-5 py-12">
        <div class="flex items-center justify-center h-full">
          <div class="w-full">
            <div class="bg-blue-100 bg-opacity-70 dark:bg-slate-800 shadow-xl rounded-2xl p-4 md:p-12">
              <h2 class="text-indigo-900 dark:text-white text-3xl font-bold mb-3">Welcome to Easy Frontend</h2>
              <div class="flex items-center mb-6 md:mb-12">
                <p class="mb-0 mr-2 opacity-50">Don't have an account?</p>
                <a href="#" class="">Create Account</a>
              </div>

              <form>
                <div class="mb-4">
                  <label class="block mb-2 font-normal" for="email">Email Address</label>
                  <input
                    type="text"
                    class="w-full bg-blue-50 dark:bg-slate-700 min-h-[48px] leading-10 px-4 p-2 rounded-lg outline-none border border-transparent focus:border-blue-600"
                    id="email"
                    placeholder="Enter Email Address"
                  />
                </div>
                <div class="mb-4">
                  <label class="block mb-2 font-normal" for="password">Password</label>
                  <input
                    type="password"
                    class="w-full bg-blue-50 dark:bg-slate-700 min-h-[48px] leading-10 px-4 p-2 rounded-lg outline-none border border-transparent focus:border-blue-600"
                    id="password"
                    placeholder="Enter Password"
                  />
                </div>
                <div class="mb-4">
                  <input type="checkbox" class="mr-2" id="remember-me" checked />
                  <label class="font-normal" for="remember-me">Remember me</label>
                </div>
                <button class="bg-indigo-900 text-white py-3 px-6 rounded w-full font-bold">
                  Log In <i class="fas fa-arrow-right ml-2"></i>
                </button>
                <button class="hover:text-blue-600 font-medium py-2 px-4 rounded-lg w-full">
                  Forget your password?
                </button>
                <div class="relative">
                  <hr class="my-8 border-t border-gray-300" />
                  <span
                    class="px-2 absolute top-1/2 left-1/2 -translate-x-1/2 -translate-y-1/2 bg-blue-100 dark:bg-slate-800"
                    >Or</span
                  >
                </div>
                <button
                  class="bg-blue-600 text-white py-3 px-6 rounded w-full flex items-center justify-center mt-4"
                >
                  <span class="fab fa-facebook mr-2 text-white"></span>
                  <span class="text-center">Continue with Facebook</span>
                </button>
                <button
                  class="bg-red-500 text-white py-3 px-6 rounded w-full flex items-center justify-center mt-4"
                >
                  <span class="fab fa-google mr-2 text-white"></span>
                  <span class="text-center">Continue with Google</span>
                </button>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
