<div class="container">
  <div class="grid grid-cols-12 gap-3">
    <!-- nav -->
    <div class="col-span-12 md:col-span-3 lg:col-span-2">
      <div class="bg-white shadow-2xl rounded-xl flex md:flex-col items-center justify-center border-2 border-blue-500">
        <div
          class="text-center w-full py-6 hover:bg-blue-600 hover:text-white hover:rounded-xl duration-500 cursor-pointer">
          <div class="text-3xl">
            <i class="fas fa-user"></i>
          </div>
          <p class="text-xl font-bold mt-2">Profile</p>
        </div>
        <div
          class="text-center w-full py-6 hover:bg-blue-600 hover:text-white hover:rounded-xl duration-500 cursor-pointer">
          <div class="text-3xl">
            <i class="fas fa-fire"></i>
          </div>
          <p class="text-xl font-bold mt-2">Order Stories</p>
        </div>
        <div class="text-center w-full py-6 bg-blue-600 text-white rounded-xl duration-500 cursor-pointer">
          <div class="text-3xl">
            <i class="fas fa-cogs"></i>
          </div>
          <p class="text-xl font-bold mt-2">Setting</p>
        </div>
      </div>
    </div>

    <!-- content -->
    <div class="col-span-12 md:col-span-9 lg:col-span-10">
      <div class="bg-white shadow-2xl rounded-xl p-6 py-5 border-2 border-blue-500">
        <h3 class="text-3xl md:text-[40px] font-bold text-blue-600 leading-tight">
          Account Setting
        </h3>
        <form action="">
          <!-- change password -->
          <div class="mt-5">
            <a href="" class="text-[17px] leading-tight text-blue-600">
              Change Your Password
            </a>
            <div class="grid grid-cols-12">
              <div class="col-span-12 lg:col-span-5 mt-2">
                <div class="flex flex-col p-2 mb-6">
                  <label for="pEmail" class="mb-2">Enter Email</label>
                  <input type="email"
                    class="h-12 p-4 bg-blue-50 rounded-xl border-none focus:outline-none"
                    id="pEmail" />
                </div>
              </div>
              <div class="col-span-12 lg:col-span-5 mt-2">
                <div class="flex flex-col p-2 mb-6">
                  <label for="old-pass" class="mb-2">Old Password</label>
                  <input type="pass"
                    class="h-12 p-4 bg-blue-50 rounded-xl border-none focus:outline-none"
                    id="old-pass" />
                </div>
              </div>

              <div class="col-span-12 lg:col-span-5 mt-2">
                <div class="flex flex-col p-2 mb-6">
                  <label for="new-pass" class="mb-2">Enter New Password</label>
                  <input type="pass"
                    class="h-12 p-4 bg-blue-50 rounded-xl border-none focus:outline-none"
                    id="new-pass" />
                </div>
              </div>
              <div class="col-span-12 lg:col-span-5 mt-2">
                <div class="flex flex-col p-2 mb-6">
                  <label for="con-new-pass" class="mb-2">Confirm New Password</label>
                  <input type="pass"
                    class="h-12 p-4 bg-blue-50 rounded-xl border-none focus:outline-none"
                    id="con-new-pass" />
                </div>
              </div>
              <div class="col-span-12 lg:col-span-5 mt-6">
                <div>
                  <button class="bg-blue-600 text-white hover:bg-opacity-90 font-bold py-3.5 px-5 rounded-xl w-full">
                    Update Password
                  </button>
                </div>
              </div>
            </div>
          </div>

          <!-- change email -->
          <div class="mt-12">
            <a href="" class="text-[17px] leading-tight text-blue-600">
              Change Your Email
            </a>
            <div class="grid grid-cols-12">
              <div class="col-span-12 lg:col-span-5 mt-2">
                <div class="flex flex-col p-2 mb-6">
                  <label for="email" class="mb-2">Enter Current Email</label>
                  <input type="email"
                    class="h-12 p-4 bg-blue-50 rounded-xl border-none focus:outline-none"
                    id="email" />
                </div>
              </div>
              <div class="col-span-12 lg:col-span-5 mt-2">
                <div class="flex flex-col p-2 mb-6">
                  <label for="new-email" class="mb-2">New Email</label>
                  <input type="email"
                    class="h-12 p-4 bg-blue-50 rounded-xl border-none focus:outline-none"
                    id="new-email" />
                </div>
              </div>

              <div class="col-span-12 lg:col-span-5 mt-2">
                <div class="flex flex-col p-2 mb-6">
                  <label for="con-new-email" class="mb-2">Confirm New Email</label>
                  <input type="email"
                    class="h-12 p-4 bg-blue-50 rounded-xl border-none focus:outline-none"
                    id="con-new-email" />
                </div>
              </div>
            </div>
            <div class="grid grid-cols-12">
              <div class="col-span-12 lg:col-span-5 mt-2">
                <div>
                  <button class="bg-blue-600 text-white hover:bg-opacity-90 font-bold py-3.5 px-5 rounded-xl w-full">
                    Update Email
                  </button>
                </div>
              </div>
            </div>
          </div>

          <!-- conditions -->
          <div class="mt-12">
            <p class="text-[17px] leading-tight text-blue-600 font-bold mb-4">
              Send Me Emails When:
            </p>
            <div>
              <div class="bg-transparent">
                <input class="bg-transparent dark:bg-transparent rounded border dark:border-slate-700" type="checkbox"
                  value="" id="condition1" />
                <label class="form-check-label" for="condition1">
                  Laplo offers and deals on really cool Discounts.
                </label>
              </div>
              <div class="bg-transparent">
                <input class="bg-transparent dark:bg-transparent rounded border dark:border-slate-700" type="checkbox"
                  value="" id="condition2" checked />
                <label class="form-check-label" for="condition2">
                  I have an upcoming reservation.
                </label>
              </div>
              <div class="bg-transparent">
                <input class="bg-transparent dark:bg-transparent rounded border dark:border-slate-700" type="checkbox"
                  value="" id="condition3" />
                <label class="form-check-label" for="condition3">
                  Travelo has fun company news, as well as periodic
                  emails.
                </label>
              </div>
            </div>
            <div class="grid grid-cols-12">
              <div class="col-span-12 lg:col-span-5 mt-6">
                <div>
                  <button class="bg-blue-600 text-white hover:bg-opacity-90 font-bold py-3.5 px-5 rounded-xl w-full">
                    Update All Setting
                  </button>
                </div>
              </div>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
